<!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<% filteredComments = @comments.select do |comment|
  comment.tweet_id == current_tweet_id
end %>

<div class="comment-container mt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h3>Comments <small class="float-right"><%= filteredComments.count %> Comments</small></h3>
      </div>

      <div class="comments-list mt-3">

        <% filteredComments.each do |comment| %>

          <% commenter = @users.find(comment.user_id) %>

          <p class="float-right"><small><%= time_ago_in_words(comment.created_at) %></small></p>
          <div class="comment-block">
            <img src="http://lorempixel.com/40/40/people/1/">
            <div class="media-body">

              <h4 class="media-heading user_name"><%= commenter.email %></h4>
              <%= comment.body %>

              <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
            </div>
          </div>
          <hr>


        <% end %>

      </div>
    </div>
  </div>
</div>