<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag "style" %>
<div class="container col-md-6">
  <%= render 'homes/main_navbar' %>

  <%= render 'homes/new_tweet' %>

  <div class="block">
    <%= render 'homes/tweets' %>
  </div>
</div>
