<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
  <%= render 'homes/main_navbar' %>

  <%= render 'homes/new_tweet' %>

  <%= render 'homes/tweets' %>
</div>
