.container{
  background: #2E2F30;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.tweet-list {
   padding-top: 12px;
}

.comment-block {
  display: block;
}